<%- model_class = Semester -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= link_to semester.name, semester_path(semester) %></td>
        <td><%= semester.start_dt %></td>
        <td><%= semester.end_dt %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_semester_path(semester), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      semester_path(semester),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_semester_path,
            :class => 'btn btn-primary' %>
