<!-- Take attendance starting 60 mins before and till 60 mins after -->
<% if can? :manage, Event and Time.now.between?(@event.start_dt-3600, @event.end_dt+3600) %>
  <div class="row-fluid">
    <div class="span12 well">
      <h3>Add Attendee</h3>

      <%= form_for @event, :url => { :action => 'add_attendee' } do |f| %>
        <hr />
        <div class="row-fluid">
          <div class="span2">
            <%= label_tag 'gtid', 'GTID' %>
          </div>
          <div class="span4">
            <%= autocomplete_field_tag 'attendee[gtid]', '', autocomplete_member_gtid_events_path, :autofocus => true %>
          </div>
          <div class="span2">
            <%= button_tag 'Add', :type => 'submit', :class => 'btn btn-primary' %>
          </div>
        </div>
         <div class="row-fluid">
          <div class="span2">
            <%= label_tag 'name', 'Name' %>
          </div>
          <div class="span4">
            <%= autocomplete_field_tag 'attendee[first_name]', '', autocomplete_member_first_name_events_path %>
          </div>
          <div class="span2">
            <%= button_tag 'Add', :type => 'submit', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<!-- Display attendees if its a non-registarable event -->
<% if can? :manage, Event %>
  <div class="row-fluid">
    <div class="span12 well">
      <h3>Attendees</h3>

      <% if @members.count != 0 %>
        <div class="row-fluid">
          <div class="span12">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @members.each do |member| %>
                  <tr>
                    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
                    <td><%= Attendance.where(:member_id => member.id, :event_id => @event.id).first.status %></td>
                    <td><%= link_to "Remove", remove_attendee_event_path(:attendee_id => member.id), :confirm => 'Are you sure?', :class => 'btn btn-small' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      <% else %>
        <br />
        <h5>There are currently no attendees</h5>
      <% end %>
    </div>
  </div>
<% end %>

