<!-- Register upto 30 mins after the event has started -->
<% if current_user and Time.now.between?(@event.created_at, @event.start_dt+1800) %>
  <div class="row-fluid">
    <div class="span12 well">

      <% if !current_user.is_registered_for(@event.id) %>
        <h3>
          Register for the event? 
          <%= link_to "YES", register_attendee_event_path(:attendee_id => current_user.id), :class => 'btn btn-success' %>
        </h3>
      <% else %>
        <h4>
          You are registered for this event. 
          <%= link_to "Unregister here", unregister_attendee_event_path(:attendee_id => current_user.id), :confirm => "are you sure?", :class => 'btn btn-danger' %>
        </h4>
      <% end %>

    </div>
  </div>
<% else %>
  <div class="well">
    <h4>Please <%= link_to "Log In", home_login_with_CAS_path %> to register for the event.</h4>
  </div>
<% end %>

<!-- Display registered and present members for registerable events -->
<% if can? :manage, Event %>
  <div class="row-fluid">
    <div class="span12 well">
      <div class="row-fluid">
        <div class="span6">
          <h3>Registered Members</h3>

          <% if @event.registered_members.count != 0 %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @event.registered_members.each do |member| %>
                  <tr>
                    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
                    <td><%= link_to "Present", mark_present_event_path(:attendee_id => member.id), :class => 'btn btn-small' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% else %>
            <br />
            <h5>There are no registered members</h5>
          <% end %>
        </div>

        <div class="span6">
          <h3>Present</h3>

          <% if @event.present_members.count != 0 %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @event.present_members.each do |member| %>
                  <tr>
                    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
                    <td><%= link_to "Absent", mark_registered_event_path(:attendee_id => member.id), :confirm => 'Are you sure?', :class => 'btn btn-small' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% else %>
            <br />
            <h5>There are no members present</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

