<%- model_class = Event -%>
<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<!-- Register upto 30 mins after the event has started -->
<% if @event.registerable and current_user and Time.now.between?(@event.created_at, @event.start_dt+1800) %>
  <div class="row-fluid">
    <div class="span12 well">
      <h3>Register</h3>

      <%= form_for @event, :url => { :action => 'register_attendee' } do |f| %>
        <hr />
        <div class="row-fluid">
          <div class="span2">
            <%= label_tag 'gtid', 'GTID' %>
          </div>
          <div class="span4">
            <%= autocomplete_field_tag 'attendee[gtid]', '', autocomplete_member_gtid_events_path %>
          </div>
          <div class="span2">
            <%= button_tag 'Register', :type => 'submit', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<!-- Take attendance starting 60 mins before and till 60 mins after -->
<% if can? :manage, Event and Time.now.between?(@event.start_dt-3600, @event.end_dt+3600) %>
  <div class="row-fluid">
    <div class="span12 well">
      <h3>Add Attendee</h3>

      <%= form_for @event, :url => { :action => 'add_attendee' } do |f| %>
        <hr />
        <div class="row-fluid">
          <div class="span2">
            <%= label_tag 'gtid', 'GTID' %>
          </div>
          <div class="span4">
            <%= autocomplete_field_tag 'attendee[gtid]', '', autocomplete_member_gtid_events_path, :autofocus => true %>
          </div>
          <div class="span2">
            <%= button_tag 'Add', :type => 'submit', :class => 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<!-- Display attendees if its a non-registarable event -->
<% if current_user and !@event.registerable %>
  <div class="row-fluid">
    <div class="span12 well">
      <h3>Attendees</h3>

      <% if @members.count != 0 %>
        <div class="row-fluid">
          <div class="span12">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @members.each do |member| %>
                  <tr>
                    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
                    <td><%= Attendance.where(:member_id => member.id, :event_id => @event.id).first.status %></td>
                    <td><%= link_to "Remove", remove_attendee_event_path(:attendee_id => member.id), :confirm => 'Are you sure?', :class => 'btn btn-small' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      <% else %>
        <br />
        <h5>There are currently no attendees</h5>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Display registered and present members for registerable events -->
<% if current_user and @event.registerable %>
  <div class="row-fluid">
    <div class="span12 well">
      <div class="row-fluid">
        <div class="span6">
          <h3>Registered Members</h3>

          <% if @event.registered_members.count != 0 %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @event.registered_members.each do |member| %>
                  <tr>
                    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
                    <td><%= link_to "Present", mark_present_event_path(:attendee_id => member.id), :class => 'btn btn-small' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% else %>
            <br />
            <h5>There are no registered members</h5>
          <% end %>
        </div>

        <div class="span6">
          <h3>Present</h3>

          <% if @event.present_members.count != 0 %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @event.present_members.each do |member| %>
                  <tr>
                    <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
                    <td><%= link_to "Absent", mark_registered_event_path(:attendee_id => member.id), :confirm => 'Are you sure?', :class => 'btn btn-small' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% else %>
            <br />
            <h5>There are no registered members</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span12 well">
    <h3>Event Details</h3>
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @event.name %></dd>
      <dt><strong>Date:</strong></dt>
      <dd><%= l @event.start_dt, :format => :rfc822 %></dd>
      <dt><strong>Time:</strong></dt>
      <dd><%= l @event.start_dt, :format => :time %> - <%= l @event.end_dt, :format => :time %></dd>
      <dt><strong><%= model_class.human_attribute_name(:event_type_id) %>:</strong></dt>
      <dd><%= EventType.find(@event.event_type_id).name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:semester_id) %>:</strong></dt>
      <dd><%= Semester.find(@event.semester_id).name %></dd>
    </dl>

    <div class="form-actions">
      <%= link_to 'Back to Event List', events_path, :class => 'btn' %>
      <% if can? :manage, Event %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_event_path(@event), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(@event), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>

