<%- model_class = Event -%>
<div class="page-header">
  <h1><%= @event.name %></h1>
</div>

<% if @event.registerable %>
  <%= render "registerable_event" %>
<% else %>
  <%= render "general_event" %>
<% end %>

<!-- General Event Info -->
<div class="row-fluid">
  <div class="span12 well">
    <h3>Event Details</h3>
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @event.name %></dd>
      <dt><strong>Date:</strong></dt>
      <dd><%= l @event.start_dt, :format => :rfc822 %></dd>
      <dt><strong>Time:</strong></dt>
      <dd><%= l @event.start_dt, :format => :time %> - <%= l @event.end_dt, :format => :time %></dd>
      <dt><strong><%= model_class.human_attribute_name(:event_type_id) %>:</strong></dt>
      <dd><%= EventType.find(@event.event_type_id).name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:semester_id) %>:</strong></dt>
      <dd><%= Semester.find(@event.semester_id).name %></dd>
    </dl>

    <div class="form-actions">
      <%= link_to 'Back to Event List', events_path, :class => 'btn' %>
      <% if can? :manage, Event %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_event_path(@event), :class => 'btn' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), event_path(@event), :method => 'delete', :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>

