<%= form_for @member, :html => { :class => 'form-horizontal' } do |f| %>

  <% @member.errors.full_messages.each do |msg| %>
    <div class="alert">
      <%= msg %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, 'First Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, 'Last Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gtid, "GTID", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gtid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gtusername, "GT Username", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gtusername, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :role_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :role_id, Role.all, :id, :name, {}, { :selected => @member.role_id } %>
    </div>
  </div>

  <% if params[:createAndAdd] == 'true' %>
    <%= hidden_field_tag :createAndAdd, 'true' %>
    <%= hidden_field_tag :points, params[:points] %>
    <%= hidden_field_tag :event_id, params[:event_id] %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), members_path, :class => 'btn' %>
  </div>
<% end %>
